<div>
    <div>
        <div class="directory-name">
            <img
                src="../../icons/directory.svg"
                alt="Directory"
                width="42px"
                height="auto"
            />
            <h4>
                <a href="/directory/<%= directory.uniqueIdentifier %>">
                    <%=
                    String(directory.path).substring(String(directory.path).lastIndexOf("/")
                    + 1) %></a
                >
            </h4>
        </div>

        <div class="directory-paths">
            <p>
                <small>(<%= directory.path %>)</small>
            </p>
            <p>
                <small>(<%= directory.uniqueIdentifier %>)</small>
            </p>
        </div>
    </div>

    <div class="rename-delete-directory">
        <form
            action="/directory/<%= directory.uniqueIdentifier %>/rename"
            method="POST"
        >
            <label for="rename">Rename</label
            ><input type="text" id="rename" name="directoryName" />
            <button type="submit" class="rename-button">
                <img
                    src="../icons/rename.svg"
                    alt="Rename Directory"
                    width="24px"
                    height="auto"
                />
            </button>
        </form>
        <form
            action="/directory/<%= directory.uniqueIdentifier %>/delete"
            method="POST"
        >
            <button type="submit" class="delete-button">
                <img
                    src="../icons/delete.svg"
                    alt="Delete Directory and its content"
                    width="22px"
                    height="auto"
                />
            </button>
        </form>
    </div>
</div>
