<div>
    <h4>
        <a href="/directory/<%= directory.uniqueIdentifier %>">
            <%=
            String(directory.path).substring(String(directory.path).lastIndexOf("/")
            + 1) %></a
        >
    </h4>

    <p>
        <small
            >(<%= directory.path %>) or (<%= directory.uniqueIdentifier %>)</small
        >
    </p>

    <div>
        <form
            action="/directory/<%= directory.uniqueIdentifier %>/rename"
            method="POST"
        >
            <label for="rename">Rename</label
            ><input type="text" id="rename" name="directoryName" />
            <button type="submit">Rename Directory</button>
        </form>
        <form
            action="/directory/<%= directory.uniqueIdentifier %>/delete"
            method="POST"
        >
            <button type="submit">Delete Directory</button>
        </form>
    </div>
</div>
